#td1 {
    background-color: #fffa69;
}

#td2 {
    background-color: #ff5b2d;
}

#td3 {
    background-color: #fffa69;
}

#td4 {
    background-color: #000000; 
}

#td5 {
    background-color: #074481; 
}

#td6 {
    background-color: #000000;
}


#td7 {
    background-color: #fffa69;
}
